In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('C:/Users/ferna/Desktop/cnpjs/empresas/K3241.K03200Y0.D41214.EMPRE.parquet')

df.head()

   CNPJ Base                                    Razao Social
0   41273593                   JULIO CESAR NUNES 39611300867
1   41273594              OZINETE DELFINO CALDAS 41608224287
2   41273595               GILVAN PEREIRA XAVIER 01363090380
3   41273596         RODRIGO JOSE FERREIRA LOPES 05010247941
4   41273597  PACHARRUS QUEIROZ DA COSTA E SILVA 03618384335